.DrawerToggle {
  width: 40px;
  height: 62px;
  margin-left: 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 300; }
  @media (min-width: 501px) {
    .DrawerToggle {
      display: none; } }
  .DrawerToggle div {
    width: 36px;
    height: 4px;
    background-color: white;
    border-radius: 5px;
    z-index: 300;
    transition: all .5s ease-in-out; }
  .DrawerToggle div::before,
  .DrawerToggle div::after {
    content: '';
    position: absolute;
    width: 36px;
    height: 4px;
    background-color: white;
    border-radius: 5px;
    z-index: 300;
    transition: all .5s ease-in-out; }
  .DrawerToggle div::before {
    transform: translateY(-14px); }
  .DrawerToggle div::after {
    transform: translateY(14px); }
  .DrawerToggle__open div {
    background: transparent;
    border: none;
    box-shadow: none; }
  .DrawerToggle__open div::before {
    transform: rotate(45deg); }
  .DrawerToggle__open div::after {
    transform: rotate(-45deg); }

.ReceiptCardContainer {
  width: 85%;
  margin: 16px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  border-radius: 5px;
  display: grid; }

.ReceiptCardContainer2 {
  display: grid;
  background: linear-gradient(to bottom, #003399 0%, deepskyblue 100%);
  border-bottom: 1px solid #f2f1f0;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white; }

.ReceiptCardContainer3 {
  display: grid;
  background: #f2f1f0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.Shop {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: left; }

.Date {
  grid-column-start: 3;
  grid-column-end: 5;
  text-align: right; }

.ButtonContainer {
  grid-column-start: 5;
  grid-column-end: 6;
  text-align: right; }

.Item {
  text-align: left;
  padding: 5px; }

.Price {
  text-align: right;
  padding: 5px; }

.Button {
  background-color: #f54538;
  border-radius: 100%;
  cursor: pointer;
  outline: none;
  border: 0;
  text-align: center;
  display: inline-block;
  font-size: 16px; }

.Button:hover {
  color: white; }

@media (min-width: 501px) {
  .ReceiptCardContainer {
    width: 85%; } }

.inputcontainer {
  text-align: center;
  background-color: deepskyblue;
  margin: 0px;
  color: white; }

.inputheading {
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
  padding: 5px; }

.inputitem {
  font-size: 20px;
  padding: 10px;
  padding: 5px; }

.input[type=text] {
  height: 20px;
  background-color: white;
  border-radius: 20px;
  border: none;
  margin-left: 10px;
  padding-left: 10px; }

.input[type=text]:focus {
  border: solid 1px deepskyblue;
  background-color: white;
  outline: none; }

.inputbutton {
  margin: 10px;
  background-color: #1979e6;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  outline: none;
  border: none;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer; }

.inputbutton:hover {
  background-color: #1565C0; }
