.NavigationItem {
    padding: 0 0;
}

.NavigationItem a {
    text-decoration: none;
    color: white;
    padding: 20px 0;
    display: block;
    box-sizing: border-box;
    text-align: center;
    width:100%;
}

.NavigationItem a:hover {
    color: black;
}

@media (min-width: 501px) { 
    .NavigationItem {
        padding: 10px;
    }

    .NavigationItem a {
        padding: 10px 30px 10px 30px;
        display: block;
        background-color: #1979e6;
        border-radius: 30px;

    }

    .NavigationItem a:hover {
        background-color: #1565C0;
        border-radius: 30px;
        color: white;
    }
}