.NavigationItems {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-top: 72px;
    cursor: pointer;
}

@media (min-width: 501px) {
    .NavigationItems {
        flex-flow: row;
        justify-content: flex-end;
        margin-top: 0px;
    }
}