.Toolbar {
    height: 62px;
    list-style: none;
    background: deepskyblue;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
}

@media(max-width: 501px){
    .DesktopOnly {
        display: none;
    }

    .Toolbar {
        position: absolute;
    }

    .DrawerToggle {
        padding: 0 20px;
        height: 62px;
    }
}

